body{background-color: rgb(122, 153, 167);}

nav{
    background-color: rgba(122, 153, 167, 0.788);
    clear: both;
    color: rgb(122, 153, 167);
    text-align: center;
    padding: 5px; 
    display: flex;
}

nuv ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
    display: flex;
}
nuv ul li {
    color: blueviolet;
    text-decoration: rgb(128, 19, 0);
    padding: 3px 6px;
    display: block;
    text-align: center;
    margin-left: 100px;
}
h1{ 
    text-align: center;
}
/* 
form .button{
    size: 10px;
} */

footer{
    background-color: rgba(86, 136, 151, 0.548);
    clear: both;
    color: rgb(35, 58, 73);
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
    display: flex;
    border: 10px;
}

.holder{
    max-width: 950px;
    margin:0 auto;
}

.parrilla{
    float: left 10px right 10px;
}

table{
    text-align: center;
}

.columnasAbajo{
    margin-top: 10px;
    text-align: center;
    margin-left: 120px;
    color: rgb(40, 66, 87);
}

.columnasAbajo2{
    text-align: center;
    margin-left: 120px;
    color: rgb(43, 70, 92);
}

.columnasAbajo3{
    text-align: center;
    margin-left: 120px;
    color: rgb(50, 80, 105);
}
.columnasAbajo4{
    text-align: center;
    margin-left: 120px;
    color: rgb(50, 80, 105);
}

.columnasAbajo5{
    text-align: center;
    margin-left: 120px;
    color: rgb(50, 80, 105);
}

.carnes{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    border: 10px;
}

.Restaurante{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    border: 10px;
}

.calidad{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    border: 10px;
}

.prueba{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    border: 10px;
}

.Restaurante p{
    background-color: rgba(75, 132, 150, 0.432);
    color: rgb(30, 62, 92);
}

.carnes p{
    background-color: rgba(75, 132, 150, 0.432);
    color: rgb(30, 62, 92);
}

.calidad p{
    background-color: rgba(75, 132, 150, 0.432);
    color: rgb(30, 62, 92);
}

.prueba P{
    background-color: rgba(75, 132, 150, 0.432);
    color: rgb(30, 62, 92);
}

.menu p{
    background-color: rgb(233, 0, 0);
}

